:root {
    --primary-color: #5651F6;
    --secondary-color: #000000;
}
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:wght@300&display=swap');
* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: url(../assets/bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}


.container {
    display: flex;
    flex-direction: column;
 gap: 10vh;
    align-items: center;
    height: 100vh;
}

button:hover {
    scale: 1.05;
    box-shadow: 0px 4px 7.3px 10px rgba(0, 0, 0, 0.10);
}
.GameName {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-family: Iceberg;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(130deg, #241ECB 33.36%, #000 70.06%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.astro {
    position: absolute;
    bottom: 10vh;
    left: 5vw;
    min-width: 10vw;
    width: 150px;
    height: auto;
    z-index: 20;
 
}

@keyframes station {
    0% {
        transform: translate(0, 0);
        rotate: 10deg;
    }
    100% {
        transform: translate(0, 10vh);
        
    }
}
  .station {
    animation: station 2s infinite alternate; 
  }


.partynumber {
    border-radius: 40px;
    min-width: 10vw;
    width: 150px;
    height: auto;
    z-index: 20;
    font-family: 'Instrument Serif', serif;
    font-size: 2vw;
    letter-spacing: 0.5vw;
    text-align: center;
}



.partycode {
  
    min-width: 10vw;
    width: 150px;
    height: auto;
    z-index: 20;
    font-family: 'Instrument Serif', serif;
    font-size: 4vw;
    letter-spacing: 1vw;
   
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 10VH auto;
}

th, td {
 
    padding: 8px;
    text-align: center;
}



.pseudo-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
.pseudo-modal-content {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 8px;
    border: 2px solid var(--primary-color);
    text-align: center;
    width: 20vw;
    min-width: 300px;
    box-shadow: 0px 4px 7.3px 10px rgba(0, 0, 0, 0.25);
}
  .pseudo-modal-content input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
  }
  .pseudo-modal-content  button {

    width: 10vw;
    border-radius: 50px;
    border: 4px solid #5651F6;
    background: rgba(0, 0, 0, 0.30);
    box-shadow: 0px 4px 7.3px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 4px 2px;
    cursor: pointer;
    padding: 2px 0;
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    color: var(--primary-color);
    transition: 0.2s;
}
